#footer {
    background-color: #4d4d4d;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footertext {
    border: 2px solid white;
    padding: 15px 40px;
    color: white;
    font-size: 24px;
    transition: all 0.5s;
    &:hover{
        transform: scale(1.3);
    }
}
#footericons {
    width: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
    }
    img{
        transition: all 0.5s;
        &:hover{
            transform: scale(1.3);
        }
    }
    
}
