#blog{
    margin-top: 50px;
    width: 80%;
    margin: auto;
}
#blogconteiner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    
}
.bloggrid{
    background-color: rgba(128,128,128, 0.2);
    overflow: hidden;
    &:nth-child(3){
        grid-column: 3/5;
    }
    &:nth-child(4){
        grid-column: 1/3;
    }
}
.blogimg{
    height: 250px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
    &.blogimg:hover{
        transform: scale(1.1)
        translateY(-11px);
    }
}
#img1{
    background-image: url(https://png.pngtree.com/png-clipart/20190611/original/pngtree-system-programming-png-image_3101290.jpg);

}
#img2{
    background-image: url(https://png.pngtree.com/png-clipart/20190611/original/pngtree-computer-programming-png-image_3232649.jpg);
}
#img3{
    height: 300px;
    background-image: url(https://png.pngtree.com/png-clipart/20200401/original/pngtree-modern-flat-design-concept-of-web-development-with-characters-on-screen-png-image_5332909.jpg);
}
#img5{
    background-image: url(https://png.pngtree.com/png-clipart/20190614/original/pngtree-vector-programming-icon-png-image_3773539.jpg);
}
#img6{
    background-image: url(https://image.freepik.com/free-vector/hacker-operating-laptop-cartoon-icon-illustration-technology-icon-concept-isolated-flat-cartoon-style_138676-2387.jpg);
}
.blogtext{
    margin-top: 40px;
    text-align: center;
}
@media (max-width: 970px){
    #blogconteiner{
        grid-template-columns: none;
        .bloggrid{
            &:nth-child(2){
                grid-row: 2;
            }
            &:nth-child(3){
                grid-row: 3;
                grid-column: 1;
            }
            &:nth-child(4){
                grid-row: 4;
                grid-column: 1;
            }
            &:nth-child(5){
                grid-row: 5;
            }
            &:nth-child(6){
                grid-row: 6;
            }
        }
    } 
 }