#myprofile{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3px;
}

#textinside{
    height: 100%;
    width: 100%;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid grey;
    #name{
        font-size: 30px;
    }
    #job{
        font-size: 20px;
    }
    #profiledesc{
        width: 500px;
        font-weight: bold;
    }
    
}
#rightside{
    display: flex;
    justify-content: center;
    img{
        height: 600px;
    }
}
@media (max-width: 1150px){
    #textinside{
        border: none;
    }
}
@media (max-width: 1000px){
    #rightside{
        img{
            height: 500px;
        }
    }
}
@media (max-width: 920px){
    #myprofile{
        height: 400px;
    }
    #textinside{
        height: 400px;
    }
    #rightside{
        img{
            height: 400px;
        }
    }
}
@media (max-width: 860px){
    #myprofile{
        height: 350px;
    }
    #textinside{
        height: 350px;
    }
    #rightside{
        img{
            height: 350px;
        }
    }
}
@media (max-width: 800px){
    #myprofile{
        height: 300px;
    }
    #textinside{
        height: 300px;
    }
    #rightside{
        img{
            height: 300px;
        }
    }
}
@media (max-width: 750px){
    #myprofile{
        grid-template-columns: none;
        height: auto;
    }
    #rightside{
        img{
            height: 400px;
        }
    }
}
@media (max-width: 450px){
    #myprofile{
        margin-top: 30px;
    }
    #textinside{
        padding: 0;
        #profiledesc{
            width: 100%;
            font-weight: bold;
            font-size: small;
        }
    }
    #rightside{
        margin-top: 40px;
        img{
            height: 300px;
        }
    }
}    
